:root {
  --main-font: "Lato", sans-serif;
  --heading-font: "Oswald", sans-serif;
  --color-darkgreen: #00341c;
  --color-mediumgreen: #045b2a;
  --color-darkgold: #986f0d;
  --color-mediumgold: #d9b04d;
  --color-grey: #4d4d4d;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-bg-lightgreen: #ecf3ef;
  --color-bg-lightbeige: #faf8f5;
  --color-bg-darkgreen: #022517;
  --color-bg-cta-green: #103d2b;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-lightbeige);
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

* {
  font-family: var(--main-font);
  color: var(--color-darkgreen);
}

main {
  display: none;

  /* temp */
  padding-bottom: 2000px;
}

.container {
  padding: 0 8%;
  max-width: 1460px;
  margin: 0 auto;
}

.primaryButton {
  display: block;
  width: fit-content;
  border: none;
  background: var(--color-mediumgreen);
  padding: 16px 0;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
}

.gradientBorder {
  background: linear-gradient(
        var(--color-mediumgreen),
        var(--color-mediumgreen)
      )
      padding-box,
    linear-gradient(to right, #a48045, #8f703e, #ebc866, #a48045) border-box;
  border-radius: 30px;
  border: 2px solid transparent;
}
