@import "global.css";

.loadingScreen {
  position: absolute;
  background-color: white;
  z-index: 100;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.loadingScreen-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingScreen h1 {
  font-family: var(--headingFont);
  color: var(--colorSecondary);
  font-size: 4rem;
  text-decoration: underline;
}

.loadingScreen-stripes {
  transform: translateX(-100%);
  animation: 2s slide-in 300ms;
  position: absolute;
  bottom: 0;
  margin-top: 200px;
  width: 100vw;
  height: 300px;
  background-image: linear-gradient(
    0deg,
    #ffffff 50%,
    var(--colorSecondary) 0%,
    var(--colorSecondary) 50%,
    #ffffff 50%,
    #ffffff 75%,
    var(--colorSecondary) 75%,
    var(--colorSecondary) 100%
  );
  background-size: 100% 30px;
}

.loadingScreen-page {
  transform: translateX(-100%);
  height: 100%;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: var(--colorPrimary);
  animation: 2s slide-in calc(300ms + 2s) none;
}
