@import "global.css";

:root {
  --main-picture-grid-space: 2fr;
  --side-picture-grid-space: 1fr;
}

.pictureGrid {
  display: grid;
  grid-template-columns:
    var(--side-picture-grid-space) var(--side-picture-grid-space)
    var(--main-picture-grid-space) var(--side-picture-grid-space) var(--side-picture-grid-space);
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-areas:
    ". . . . ."
    ". . . . .";
}

.image img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.image1 {
  grid-column: 1 / span 1;
  grid-row: 2;
  margin-top: -50%;
}

.image2 {
  grid-column: 2 / span 1;
  grid-row: 1;
}

.image3 {
  grid-column: 2 / span 1;
  grid-row: 2;
}

.image4 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
  place-self: center;
  transition: all ease-in-out 0.3s;
}

.image5 {
  grid-column: 4 / span 1;
  grid-row: 1;
}

.image6 {
  grid-column: 5 / span 1;
  grid-row: 2;
  margin-top: -50%;
}

.image7 {
  grid-column: 4 / span 1;
  grid-row: 2;
}

/* .sideImage img {
  width: 300px;
  height: 400px;
} */
