@import "./global.css";

:root {
  --left-pane-translateX: 0;
  --right-pane-translateX: 0;
  --main-pane-translateY: 80px;
}

.scrollEffectWrapper {
  margin: 100px 0;
  position: relative;
  overflow: hidden;
}

.scrollEffectWrapper .leftSide img,
.rightSide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scrollEffectWrapper .logoText {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}

.middleVideo {
  transform: translateY(var(--main-pane-translateY));
}

.middleVideo video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.middleVideo .text {
  transition: opacity ease-in-out 0.3s;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.middleVideo .text h2,
p,
span {
  color: white;
}

.middleVideo .text h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.middleVideo .text span {
  font-family: var(--heading-font);
  font-weight: bold;
}

.middleVideo .text p {
  font-size: 2rem;
  max-width: 40ch;
  line-height: 1.5;
}

.leftSide,
.rightSide {
  top: 0;
  position: absolute;
  background-color: var(--color-bg-lightbeige);
  display: grid;
  column-gap: 50px;
  row-gap: 40px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.leftSide {
  left: -15%;
  padding-right: 50px;
  transform: translateX(var(--left-pane-translateX));
}

.rightSide {
  right: -15%;
  padding-left: 50px;
  transform: translateX(var(--right-pane-translateX));
}

.pic1 {
  grid-column: 1 / span 1;
  grid-row: 2;
  transform: translateY(-50%);
}

.pic2 {
  grid-column: 2 / span 1;
  grid-row: 1;
}

.pic3 {
  grid-column: 2 / span 1;
  grid-row: 2;
}

.pic4 {
  grid-column: 2 / span 1;
  grid-row: 2;
  transform: translateY(-50%);
}

.pic5 {
  grid-column: 1 / span 1;
  grid-row: 1;
}

.pic6 {
  grid-column: 1 / span 1;
  grid-row: 2;
}
