@import "./global.css";

:root {
  --left-pane-translateX: 0;
  --right-pane-translateX: 0;
  --main-pane-translateY: 30px;
}

.scrollEffectWrapper {
  margin: 100px 0;
  position: relative;
  overflow: hidden;
}

.scrollEffectWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.middleImage {
  transform: translateY(var(--main-pane-translateY));
}

.leftSide,
.rightSide {
  top: 0;
  position: absolute;
  background-color: var(--colorBackground);
  display: grid;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.leftSide {
  left: -15%;
  padding-right: 20px;
  transform: translateX(var(--left-pane-translateX));
}

.rightSide {
  right: -15%;
  padding-left: 20px;
  transform: translateX(var(--right-pane-translateX));
}

.pic1 {
  grid-column: 1 / span 1;
  grid-row: 2;
  transform: translateY(-50%);
}

.pic2 {
  grid-column: 2 / span 1;
  grid-row: 1;
}

.pic3 {
  grid-column: 2 / span 1;
  grid-row: 2;
}

.pic4 {
  grid-column: 2 / span 1;
  grid-row: 2;
  transform: translateY(-50%);
}

.pic5 {
  grid-column: 1 / span 1;
  grid-row: 1;
}

.pic6 {
  grid-column: 1 / span 1;
  grid-row: 2;
}
